@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");
$mainColor: #f0a500;
$secondColor: #1a1c20;

html {
  scroll-behavior: smooth;
}

input,
select,
textarea {
  &:focus {
    outline: 0 !important;
  }
}

body {
  font-family: "Tajawal", sans-serif;
  text-transform: capitalize;
  direction: rtl;
}

.clear {
  clear: both;
}

img {
  max-width: 100%;
  // width: 100%;
}

a,
button {
  text-decoration: none !important;
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

#floating {
  position: fixed;
  z-index: 1;
  width: 65px;
  height: 65px;
  line-height: 70px;
  text-align: center;
  bottom: 15px;
  right: 20px;
  cursor: pointer;
  background-color: #fff;
  box-shadow: 0 3px 9px rgba($color: #000000, $alpha: 16%);
  opacity: 0;
  z-index: 999;
  transition: all 0.5s;
  i {
    color: #000;
    font-size: 25px;
    font-weight: bold;
  }
}

.splash.displayNone {
  visibility: hidden;
  opacity: 0;
}

.splash {
  display: none;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 999999;
  text-align: center;
  padding: 0 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.splash img {
  display: inline-block;
  margin-bottom: 100px;
  max-width: 255px;
  width: auto;
}

.splash .loadProgress {
  width: 400px;
  background-color: #e5e5e5;
  height: 10px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  max-width: 100%;
}

@media (max-width: 480px) {
  .splash .loadProgress {
    width: 280px;
  }
}

.splash .loadProgress .lineStyle {
  position: absolute;
  left: 0;
  top: 0;
  width: 180px;
  height: 100%;

  background-color: #25a1a5;
  -moz-animation: move-progress 3s linear infinite;
  -ms-animation: move-progress 3s linear infinite;
  -o-animation: move-progress 3s linear infinite;
  -webkit-animation: move-progress 3s linear infinite;
  animation: move-progress 3s linear infinite;
}

@keyframes move-progress {
  from {
    left: -100%;
  }
  to {
    left: 100%;
  }
}

@-webkit-keyframes move-progress {
  from {
    left: 0;
  }
  to {
    left: 100%;
  }
}

@-moz-keyframes move-progress {
  from {
    left: -100%;
  }
  to {
    left: 100%;
  }
}

@-ms-keyframes move-progress {
  from {
    left: -100%;
  }
  to {
    left: 100%;
  }
}

.sidenav {
  height: 100%;
  width: 300px;
  max-width: 100%;
  position: fixed;
  z-index: 99999;
  top: 0;
  right: -400px;
  background-color: #fff;
  box-shadow: 0 22px 22px rgba($color: #000000, $alpha: 5%);
  overflow-x: hidden;
  padding: 0 20px;
  padding-top: 30px;
  transition: 0.5s;
  text-align: center;
  padding-bottom: 10px;

  .navItem {
    margin-bottom: 20px;
    text-align: right;
    display: block;

    &:last-child {
      background-color: $mainColor;
      width: 190px;
      text-align: right;
      height: 44px;
      line-height: 44px;
      float: right;
      .navLink {
        color: #fff;
      }
      i {
        width: 30px;
        height: 30px;
        background-color: #fff;
        color: $mainColor;
        border-radius: 50%;
        line-height: 30px;
        text-align: center;
        margin-right: 5px;
      }
    }
  }
  .navLink {
    // padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #002543;
    transition: 0.3s;
    padding-right: 16px;
    &:hover {
      color: $mainColor;
    }
  }

  .closebtn {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 16px;
    // margin-left: 50px;
    i {
      display: inline-block;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      text-align: center;
      border: 2px solid $mainColor;
      color: $mainColor !important;
      line-height: 37px;
      // @extend %transition;
    }
  }
  .logo {
    width: auto;
    max-width: 205px;
    margin-bottom: 29px;
    margin-top: 39px;
    // padding: 10px;
  }

  .social {
    text-align: center;
    line-height: 33px;
    a {
      display: inline-block;
      margin-left: 10px;
      margin-right: 10px;
      i {
        color: #002060;
      }
    }
  }
  .lang {
    margin-top: 10px;
    .spanLabel {
      font-size: 14px;
      font-weight: 200;
    }
    .nice-select {
      float: none;
      display: inline-block;
      border: 0;
      // padding: 0;
      padding-left: 0;
      padding-bottom: 0;
      font-weight: bold;
      color: #002060;
      font-size: 14px;
      height: 33px;
      line-height: 33px;
    }
  }
}

.openMenuActive {
  height: 100vh;
  overflow: hidden;
  // display: none;
}

.bg-sidenavOpen {
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  background-color: rgba($color: #000000, $alpha: 50%);
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  cursor: pointer;
  display: none;
}

.slider-item {
  &:focus {
    outline: 0 !important;
  }
}

.form-control {
  &:focus {
    outline: 0 !important;
    box-shadow: none !important;
    border: 1px solid $mainColor;
  }
}

.slick-next,
.slick-prev {
  z-index: 10;
}

/* top header */
.top-header {
  .container-fluid {
    width: 95%;
    position: relative;
  }
  .logo {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 99;
  }
  .contact {
    display: flex;
    height: 55px;
    justify-content: center;
    align-items: center;
    .con {
      margin-right: 5px;
      margin-left: 5px;
      direction: ltr;
      i {
        margin-right: 5px;
      }
      span,
      a {
        font-size: 20px;
        color: #1a1c20;
      }
    }
  }
  .social {
    ul {
      display: flex;
      height: 55px;
      align-items: center;
      justify-content: flex-end;
      margin-bottom: 0;
      li {
        margin-right: 10px;
        a {
          i {
            color: #cf7500;
          }
        }
      }
    }
  }
}

/* navbar */
.mynavbar {
  background-color: $secondColor;
  position: relative;
  z-index: 9;
  .container-fluid {
    width: 95%;
    position: relative;
  }
  .lista {
    height: 61px;
    display: flex;
    align-items: flex-start;
    margin-bottom: 0;
    padding-right: 185px;

    li {
      transition: all 0.5s ease-in-out;
      a {
        padding: 15px;
        font-size: 23px;
        display: inline-block;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 61px;
        color: #fff;
        font-weight: 500;
      }
      &:hover {
        background-color: $mainColor;
        a {
          height: 94px;
        }
      }
    }
  }
  .openSideNav {
    display: none;
  }
}

.lang {
  position: absolute;
  background-color: #f4f4f4;
  border-radius: 30px;
  height: 33px;
  line-height: 33px;
  padding-right: 10px;
  padding-left: 10px;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  select {
    border: 0;
    background-color: transparent;
  }
  .nice-select {
    height: 100%;
    line-height: 33px;
    padding-right: 10px;
    background-color: transparent;
    border-radius: 0;
    border: 0;
    font-weight: bold;
    &::after {
      // height: 100%;
      // line-height: 33px;
      right: unset;
      left: 0;
      color: $mainColor !important;
      margin-top: -2px;
      border-bottom: 2px solid $mainColor;
      border-right: 2px solid $mainColor;
    }
  }
}

/* header */
.header {
  @extend %img-bg-style;
  height: 602px;
  position: relative;
  margin-bottom: 120px;
  .search-box {
    width: 1266px;
    max-width: 100%;
    margin: auto;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #f4f4f4;
    position: absolute;
    bottom: -35px;
    box-shadow: 03px 6px rgba($color: #000000, $alpha: 16%);
    padding: 25px;
    padding-bottom: 45px !important;
    .typeList {
      margin-bottom: 0;
      display: flex;
      flex-wrap: wrap;
      li {
        margin-left: 20px;
      }
    }
    .choose-type {
      display: none;
    }
    .card {
      padding: 10px;
      padding-left: 30px;
      padding-right: 30px;
      border: 1px solid #707070;
      border-radius: 0;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
      h5 {
        margin: 0;
        color: #1a1c20;
        transition: all 0.2s ease-in-out;
      }
    }
    input[type="checkbox"]:checked ~ .card {
      background-color: $mainColor;
      border: 1px solid $mainColor;
      h5 {
        color: #fff;
      }
    }

    input[type="radio"]:checked ~ .card {
      background-color: $mainColor;
      border: 1px solid $mainColor;
      h5 {
        color: #fff;
      }
    }

    .all-inputs {
      margin-top: 25px;
      padding-right: 10px;
      .row {
        .col-lg-3,
        .col-lg-2 {
          margin: 0;
          padding-left: 5px;
          padding-right: 5px;
        }
      }
      .customSelect {
        width: 100%;
        text-align: right !important;
        font-size: 20px;
        color: #b1a7a7;
        padding-right: 10px;
        line-height: 50px !important;
        padding-top: 0;
        margin-bottom: 20px;
        &::after {
          right: unset;
          left: 10px;
        }
        .list {
          width: 100%;
          li {
            text-align: right;
            padding-right: 10px;
          }
        }
      }
      .form-control {
        border: 2px solid #707070;
        border-radius: 0;
        &::placeholder {
          font-size: 20px;
          color: #b1a7a7;
        }
      }
      .form-control,
      button {
        height: 50px;
      }
      .input-group {
        .input-group-prepend {
          .input-group-text {
            border-radius: 0;
            background-color: #fff;
            border-left: 0;
            border: 2px solid #707070;
            border-left: 0;
          }
        }
        .form-control {
          border-right: 0;
        }
      }
      .btn {
        width: 100%;
        padding: 0;
        background-color: $mainColor;
        border: 0;
        border-radius: 0;
        color: #fff;
        font-size: 27px;
        font-weight: bold;
        &:hover {
          background-color: #cf8e01;
        }
      }
    }
  }
}

/* section header */
.section-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  span {
    width: 44px;
    height: 10px;
    background-color: $mainColor;
  }
  h5 {
    color: #000;
    font-size: 49px;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
  }
}

/* special-real-estate */
.special-real-estate {
  .item {
    margin: 20px;
  }
  .owl-carousel .owl-nav button.owl-prev,
  .owl-carousel .owl-nav button.owl-next,
  .owl-carousel button.owl-dot {
    height: 55px;
    width: 55px;
    color: #fff;
    opacity: 0.8;
    background-color: $secondColor;
    line-height: 55px;
    &:hover {
      opacity: 1;
    }
  }
}

/* realEstateCard */
.realEstateCard {
  background-color: #f5f5f5;
  box-shadow: 0 3px 6px rgba($color: #000000, $alpha: 16%);
  display: block;
  direction: rtl;
  .card-img {
    height: 273px;
    @extend %img-bg-style;
    border-radius: 0;
  }
  .card-body {
    padding-top: 4px;
    padding-right: 12px;
    padding-left: 12px;
    padding-bottom: 9px;
    .real-info {
      display: flex;
      justify-content: space-between;
      .card-title {
        font-size: 22px;
        font-kerning: bold;
        margin: 0;
        margin-top: 5px;
        color: #000;
      }
      .card-price {
        background-color: #f0a500;
        border: 2px solid #f0a500;
        font-weight: bold;
        font-size: 16px;
        border-radius: 10px;
        padding-left: 29px;
        padding-right: 29px;
        padding-top: 9px;
        padding-bottom: 9px;
        color: #000;
        transition: all 0.5s ease-in-out;
      }
    }
    .card-options {
      margin-top: 33px;
      display: flex;
      li {
        background-color: #fff;
        border: 1px solid #d3d3d3;
        border-radius: 10px;
        padding-right: 10px;
        padding-left: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-left: 6px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        span {
          font-size: 19px;
          font-weight: 500;
          margin-right: 5px;
          color: #000;
        }
      }
    }
    .card-date {
      color: #a09c9c;
      font-size: 17px;
    }
  }
  &:hover {
    transform: translateY(-5px);
    .card-body {
      .card-price {
        background-color: #fff;
      }
    }
  }
}

/* new-added */
.new-added {
  margin-top: 70px;
}

/* ourlicents */
.ourlicents {
  margin-top: 90px;
  .item {
    margin: 15px;
  }
  .our-client-parent {
    background-color: #f4f4f4;
    padding-top: 30px;
    padding-bottom: 30px;
    #ourClientslider {
      position: relative;
    }
  }
  .owl-theme .owl-nav {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translate(0, -50%);
    display: flex;
    justify-content: space-between;
    i{
      font-size: 20px;
    }
    .owl-prev {
      left: -20px;
      position: absolute;
      top: 50%;
      color: $mainColor;
      transform: translate(0, -50%);
      &:focus{
        background-color: transparent;
        outline: 0 !important;
      }
  
      &:hover{
        background-color: transparent;
        outline: 0 !important;
      }
    }
    .owl-next {
      right: -20px;
      position: absolute;
      top: 50%;
      color: $mainColor;
      transform: translate(0, -50%);
      &:focus{
        background-color: transparent;
        outline: 0 !important;
      }
  
      &:hover{
        background-color: transparent;
        outline: 0 !important;
      }
    }
  }
}

/* client card */
.client-card {
  padding: 20px;
  border-radius: 42px;
  border: 0;
  height: 114px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #fff;
  transition: all .5s ease-in-out;
  &:hover{
    border: 2px solid $mainColor;
  }
}

/* contact us */
.contact-us{
  margin-top: 80px;
  @extend %img-bg-style;
  position: relative;
  text-align-last: center;
  padding-top: 65px;
  padding-bottom: 65px;
  &:after{
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 42%);
    top: 0;
    left: 0;
    content: "";
    position: absolute;
  }
  .ifream-map{
    width: 1123px;
    margin: auto;
    height: 508px;
    max-width: 100%;
    position: relative;
    z-index: 9;
  }
  iframe{
    width: 100%;
    height: 100%;
  }
  .contact-info{
    background-color: #F0A500;
    position: absolute;
    width: 345px;
    max-width: 100%;
    top: calc(100% - 450px);
    right: 17px;
    // transform: translate(0, 50%);
    padding: 28px;
    padding-bottom: 40px;
    h5{
      font-size: 30px;
      font-weight: bold;
      margin-bottom: 30px;
    }
    ul{
      li{
        display: flex;
        align-items: center;
        padding-bottom: 13px;
        padding-top: 13px;
        border-bottom: 1px solid $secondColor;
        i{
          margin-left: 30px;
          color: $secondColor;
        }
        span{
          color: #fff;
          font-size: 20px;
          font-weight: 500;
          text-align-last: right;
        }
        &:last-child{
          border-bottom: 0;
        }
      }
    }
  }
}

/* breadcrumb */
.breadcrumb{
  height: 602px;
  @extend %img-bg-style;
}


/* real state page */
.real-estate-page{
  margin-bottom: 130px;
  .realEstateCard{
    margin-bottom: 20px;
  }
}

/* pagination */
.pagination{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  .page-item{
    .page-link{
      background-color: #000;
      width: 55px;
      height: 55px;
      color: #fff;
      font-size: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 2px;
      opacity: .7;
    }
    &:hover{
      .page-link{
        opacity: 1;
      }
    }
    &.active{
      .page-link{
        opacity: 1;
      }
    }
  }
}


/* contact us page */
.contact-us-page{
  margin-bottom: 90px;
  .breadcrumb{
    position: relative;
    // overflow: hidden;
    &::after{
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($color: #000000, $alpha: 36%);
    }
  }
  .contact-form{
    width: 909px;
    margin: auto;
    max-width: 100%;
    background-color: rgba($color: #fff, $alpha: 85%);
    padding: 50px 132px;
    margin-top: -380px;
    z-index: 9;
    position: relative;
    box-shadow: 0 3px 6px rgba($color: #000000, $alpha: 16%);
    h5{
      font-size: 40px;
      text-align-last: center;
      margin-bottom: 35px;
    }
    .form-control{
      height: 86px;
      border: 1px solid #AFAFAF;
      border-radius: 0;
      &::placeholder{
        font-size: 30px;
        color: $secondColor;
      }
    }
    textarea{
      height: 222px !important;
      resize: none;
    }
    .btn{
      background-color: $secondColor;
      color: #fff;
      font-size: 28px;
      text-align-last: center;
      border: 0;
      border-radius: 0;
      width: 100%;
      padding: 22px 10px;
      font-weight: bold;
      border: 2px solid $secondColor;
      &:hover{
        background-color: transparent;
        color: $secondColor;
      }
    }
  }
  .contact-us{
    padding: 0;
    .contact-info{
      h5{
        color: #fff;
      }
      right: -25px;
      ul{
        li{
          border-bottom: 1px solid #fff;
        }
      }
      i{
        color: #fff;
      }
    }
  }
}


/* footer */
.site-footer{
  background-color: $secondColor;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-top: 30px;
  .footer-logo{
    img{
      width: auto;
      height: auto;
    }
  }
  .footer-links{
    margin-top: 20px;
    ul{
      display: flex;
      flex-wrap: wrap;
      li{
        width: (100%/4);
        margin-bottom: 17px;
        transition: all .5s ease-in-out;
        a{
          color: #fff;
          font-size: 20px;
          font-weight: 500;
          border-right: 2px solid $mainColor;
          padding-right: 4px;
         
        }
        &:hover{
          transform: translateX(-5px);
         a{
          border-right: 2px solid #fff;
          color: $mainColor;
         }
        }
      }
    }
  }
  .footer-lang{
    margin-bottom: 50px;
    // width: 165px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    .lang{
      position: unset !important;
      transform: translate(0);
      .nice-select{
        padding-right: 0;
      }
    }
  }
  .footer-contact{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    .social{
      margin-bottom: 30px;
      a{
        display: inline-block;
        margin-right: 5px;
        i{
          color: $mainColor;
          font-size: 20px;
        }
      }
    }
    .mob{
      margin-bottom: 25px;
      i{
        color: $mainColor;
      }
      span{
        color: #fff;
        font-size: 20px;
        font-weight: 500;
      }
    }
  }
}

/* copy */
.copy{
  margin-top: 10px;
  background-color: $mainColor;
  padding: 10px;
}

@media (max-width: 1200px) {
}

@media (max-width: 1199px) {
}

@media (max-width: 1024px) {
  .mynavbar .lista {
    padding-right: 0;
    justify-content: center;
  }
  .top-header .contact {
    justify-content: flex-end;
  }
  .site-footer .footer-contact .mob span{
    font-size: 18px;
  }
}

@media (max-width: 991px) {
  .top-header {
    display: none;
  }
  .mynavbar {
    background-color: $secondColor;
    height: 61px;
    line-height: 61px;
    .container-fluid {
      position: unset;
    }
    .lang {
      left: 10px;
    }
    .lista {
      display: none;
    }
    .openSideNav {
      display: block;
      color: #fff;
      font-size: 25px;
      margin-top: 5px;
      display: inline-block;
      i {
        color: #fff;
      }
    }
  }
  .footer-logo{
    text-align-last: center;
  }
  .site-footer .footer-lang{
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  .site-footer .footer-contact{
    align-items: center;
  }
  .contact-us-page .contact-form{
    padding: 40px 40px;
  }
}

@media (max-width: 960px) {
}

/* Small Screens */
@media (min-width: 768px) and (max-width: 991px) {
}

/* Mobile & Tablets */
@media (max-width: 767px) {
}

/* Tablets */
@media (min-width: 480px) and (max-width: 767px) {
}

@media (max-width: 479px) {
  .section-header h5 {
    font-size: 40px;
  }
  .site-footer{
    .footer-links{
      margin-top: 20px;
      li{
        width: (100% / 2) !important;
      }
    }
  }
  .header .search-box{
    bottom: -87px;
  }
  .header{
    height: 670px;
    margin-bottom: 150px;
  }
  .ourlicents .owl-theme .owl-nav{
    position: unset;
  }
  .ourlicents .owl-theme .owl-nav .owl-next{
    right: 0;
    position: unset;
  }
  .ourlicents .owl-theme .owl-nav .owl-prev{
    left: 0;
    position: unset;
  }
  .contact-us-page .contact-form h5{
    font-size: 29px;
    margin-bottom: 20px;
  }
  .contact-us-page .contact-form{
    padding: 20px 20px;
  }
  .contact-us-page .contact-form .form-control{
    height: 60px;
    &::placeholder{
      font-size: 20px;
    }
  }
  .contact-us-page .contact-form .btn{
    font-size: 20px;
    padding: 10px 10px;
  }
}

@media (max-width: 376px) {
  .section-header h5 {
    font-size: 30px;
  }
  .contact-us .contact-info{
    right: 0;
  }
  .contact-us-page .contact-form h5{
    font-size: 25px;
  }
}

@media (max-width: 321px) {
}

.activeInput {
  opacity: 1 !important;
  visibility: visible !important;
  transform: translate(2px);
}

%inilize-ui-icons {
  font-family: uicons-regular-rounded !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

%img-bg-style {
  -webkit-background-size: cover;
  -webkit-background-position: center;
  -moz-background-position: center;
  -moz-background-size: cover;
  background-position: center;
  background-size: cover;
}

%img-bg-after {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

%link-transition {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

%spcfies-number-of-line {
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

%init-font-awesome {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

%transition {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

%line-after-secton-header {
  content: "";
  position: absolute;
  background-color: #25a1a5;
  border-radius: 10px;
  width: 41px;
  height: 5px;
  bottom: 0;
  left: 0;
}
